@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:wght@500&family=Fredoka:wght@300&family=Halant:wght@300&family=Josefin+Sans:wght@500&family=M+PLUS+1:wght@200&family=Montserrat+Alternates:wght@100&family=Montserrat:wght@100;400&family=Mukta:wght@200&family=Nanum+Gothic:wght@700&family=News+Cycle&family=Newsreader:opsz,wght@6..72,200;6..72,400&family=Open+Sans&family=PT+Sans+Narrow:wght@400;700&family=Press+Start+2P&family=Prompt&family=Quicksand:wght@300;400&family=Raleway:ital,wght@0,200;0,500;1,400&family=Roboto:wght@100&family=Sarabun:wght@200&family=Satisfy&family=Signika:wght@300&family=Source+Code+Pro:wght@300;700&family=Tajawal&family=Ubuntu:ital,wght@0,300;1,700&family=Varela+Round&display=swap');
.loginScreen{
    position: relative;
    height: 100%;
    background: url('https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg')
    center no-repeat;
    background-size: cover;
}

.loginScreen__logo{
    position: fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
}


.loginScreen__button{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #e50914;
    cursor: pointer;
    border: none;
}

.loginScreen__gradient{
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0,0, 0.4);
    background-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.8) 0,
        rgba(0, 0, 0, 0) 60%,
        rgba(0, 0, 0, 0.8) 100%
      );
}

.loginScreen__body{
    position: absolute;
    width: 100%;
    z-index: 1;
    color: white;
    padding: 20px;
    top: 30%;
    margin: 0 auto;
    text-align: center;
    left: 0;
    right: 0;
}
::-webkit-scrollbar{
    display: none;
}


.loginScreen__body > h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}

.h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
 .h3{
    font-size: 1.4em;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
  }

  .loginScreen__input{
    margin-top: 21px;
  }

  .loginScreen__input > form > input{
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
  }

  .loginScreen__getStarted{
    padding: 16px 20px;
    font-size: 1rem;
    background-color: #e90414;
    text-transform: uppercase;
    color: white;
    border: none;
    cursor: pointer;
  }